---

import Nav from './../components/nav.astro'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <Nav />
    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor interdum tempor. Quisque mi diam, egestas in dapibus non, gravida nec diam. Nulla in laoreet augue. Aenean ex orci, condimentum non orci in, iaculis posuere purus. Nunc varius aliquam lobortis. Vestibulum sit amet fermentum nibh. Sed auctor sagittis tortor tempus sagittis. Vivamus condimentum mi vel eros pulvinar semper. Vivamus aliquam tortor sed lectus lacinia facilisis. Mauris mattis quam at semper sagittis. Morbi aliquet urna et luctus blandit. Vestibulum fermentum vestibulum orci eget rutrum. Fusce pretium massa ut lorem laoreet convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis sed hendrerit lacus.

Donec vestibulum neque in odio tempor volutpat. Vivamus a leo eget nulla pretium scelerisque. Integer fringilla elit a dolor porta, egestas accumsan lectus pellentesque. Nulla quis odio in magna auctor placerat. Nulla eu lectus vel nisl aliquam euismod. Suspendisse aliquam, nibh vitae congue gravida, nibh magna lacinia elit, quis dictum libero leo in eros. Aliquam eget odio vitae augue ornare mollis non et erat.

Sed sit amet eros nec massa commodo cursus vel eget tellus. Duis sed dictum elit. Aliquam laoreet, ligula consectetur tristique mattis, ligula lacus tempus justo, eu tempor purus justo non ex. In et pellentesque elit, eu accumsan nibh. Duis accumsan faucibus vestibulum. Suspendisse potenti. Etiam iaculis dignissim aliquam. Aliquam tincidunt urna tellus, eu aliquet nisi condimentum pulvinar. Fusce sed velit venenatis, pulvinar tellus sit amet, lacinia lorem.

Ut faucibus mollis orci sed sodales. Praesent blandit venenatis leo, et ultrices libero malesuada eu. In condimentum a orci vitae vehicula. Aenean et sapien tortor. Etiam vel dapibus felis. Maecenas convallis eu arcu laoreet pulvinar. Donec et vehicula nibh.

Cras sit amet felis ante. Phasellus rhoncus libero arcu, at eleifend metus fringilla ut. Ut porta vulputate felis, in aliquet massa egestas quis. Aenean posuere ligula tortor, id molestie risus aliquam mattis. Nullam malesuada ligula at nisi blandit tempus. Aliquam congue sodales pretium. Vivamus lobortis massa urna, at elementum sapien aliquet in. Duis faucibus purus at odio eleifend, nec fermentum nisl dignissim. In condimentum semper ex, ut molestie nisl ultricies vel. Mauris varius, enim et ullamcorper tempus, nisi felis porttitor orci, faucibus mollis massa erat fermentum est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam quis ipsum id ipsum dignissim ullamcorper. Integer sed sapien ligula. Ut eget tempus mi. </p>
	</body>
</html>

<style>
  body {
    max-width: 65rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
